APP_ENV=local
APP_DEBUG=true
APP_KEY=!!SomeRandomKey!!

DB_CONNECTION=mysql
DB_HOST=localhost
DB_PORT=3306
DB_DATABASE=homestead
DB_USERNAME=homestead
DB_PASSWORD=secret

CACHE_DRIVER=file
QUEUE_DRIVER=sync


STATICS_SERVER=http://localhost:8801
UPDATE_STATICS_MAP_API_KEY=!!SomeRandomKey!!

